:root {
  --um-orange-color: #f4a629;
  --um-brown-color: #68381a;
}

h1 {
  padding-left: 10px;
  margin-bottom: 50px;
}

#login-box {
  border-radius: 15px;
  background-color: white;
  border: none;
  margin-top: 50px;
}

#login-text {
  text-align: center;
}

.login-text-input {
  margin: 10px 30%;
  border-radius: 5px;
  border: 1px solid grey;
  padding-left: 5px;
}

.login-text-input:focus {
  outline: none;
}

#text-input-container {
  display: flex;
  flex-direction: column;
}

#login-submit-button {
  margin: 10px 30%;
  border-radius: 5px;
  border: 1px solid var(--um-brown-color);
  background-color: var(--um-orange-color);
  color: var(--um-brown-color);
  font-weight: bold;
  word-wrap: break-word;
}
