.fieldset{
    padding: 30px;    
}
.formPads{
    margin: 10px;
}

.Details{
    padding-bottom: 32px;
}

#student-det-button{
    margin-bottom: 5px;
}

#studentDet{
    margin-bottom: -25px;
}

#security-submit-button{
    margin-bottom: 5px;
}

@media (max-width: 850px){
    .Details{
        padding-bottom: 27px;
    }
}

@media (max-width: 981px){
    #studentDet{
        margin-bottom: 16px;
    }
}

@media only screen and (max-width: 768px) {
    .Details{
        padding-bottom: 32px;
    }
    
    #security-submit-button{
        margin-top: 0px;
    }
}

#fees-info{
    margin-left: -5px;
}

.fieldsetFee{
    padding: 30px;
}

.legend{
    margin-top: 10px;
    padding-left: 20px;
}

#name-label{
    padding-right: 50px;
}
#first-name{
    border: none;
}

#address-label{
    padding-right:32px;
}

#city-label{
    padding-right: 60px;
}

#province-label{
    padding-right: 28px;
}

#postCode-label{
    padding-right: 5px;
}

.questionLabel{
    padding-right:5px;
}

.answerLabel{
    padding-right: 15px;
}

#q2-fieldset{
    padding-top: 15px;
}

.question-select{
    width: 350px;
}

#studentDet input{
    width: 200px;   
}