:root {
  --um-orange-color: #f4a629;
  --um-brown-color: #68381a;
  --schedule-blue-color: rgb(110, 166, 192);
  --light-grey-color: rgb(246, 247, 248);
  background-color: var(--light-grey-color);
}

body {
  background-color: var(--light-grey-color);
}

.tile {
  background-color: white;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,.03);
  border-radius: 15px;
}

h1 {
  padding-left: 10px;
  margin-bottom: 50px;
}

.top-corner {
   position: fixed;
   top:10px;
   right:10px;
   display: none;
   z-index: 10000000000;
}

h5 {
  margin-bottom: 30px;
}

.section-select {
  width: 60px;
}

.register-button {
  background-color: var(--schedule-blue-color);
  color: white;
  box-shadow: none;
  border-radius: 5px;
  border: none;
  width: 50%;
}

.register-button:disabled {
  background-color: grey;
  width: 100%;
  pointer-events: none;
}

.view-button {
  position: absolute;
  bottom: 3px;
  right: 3px;
  margin-top: 30px;
  background-color: var(--um-orange-color);
  color: var(--um-brown-color);
  box-shadow: none;
  border-radius: 5px;
  border: none;
  outline: none;
}

.expanded-placeholder {
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.5s; /* Safari */
  transition: height 0.5s;

  display: flex;
  flex-grow: 1;
  flex-direction: row;
  justify-content: space-around;
}

.general-description {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
}

.section-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 200px;
}

.expanded-placeholder.active {
  height: 200px;
}

.box {
  border-radius: 15px;
  padding: 10px;
  margin-top: 10px;
}

#course-list {

}

.search-result {
  border-bottom: 0.5px solid rgba(0, 0, 0, .3);
  padding: 15px;
  position: relative;
  min-height: 75px;
  margin-top: 10px;
}

.search-result-title {
  margin-bottom: 30px;
}

#search-filters {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-areas:
    "term term-select department department-search"
    "level level-select course-number course-search";
}

#course-list {

}

/* if screen size is too small, stack search options */
@media only screen and (max-width: 768px) {
	#search-filters {
    grid-template-areas:
      "term term-select"
      "department department-search"
      "level level-select"
      "course-number course-search";
  }
  .expanded-placeholder {
    flex-direction: column;
    justify-content: space-between;
  }
  .expanded-placeholder.active {
    height: 350px;
  }
  input[type="color"],
  input[type="date"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="email"],
  input[type="month"],
  input[type="number"],
  input[type="password"],
  input[type="search"],
  input[type="tel"],
  input[type="text"],
  input[type="time"],
  input[type="url"],
  input[type="week"],
  select,
  textarea {
    font-size: 16px;
  }
}

select.dropwdown {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  min-width: 30px;

  border-radius: 2;
  padding-left: 10px;

  /* Positions background arrow image */
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAh0lEQVQ4T93TMQrCUAzG8V9x8QziiYSuXdzFC7h4AcELOPQAdXYovZCHEATlgQV5GFTe1ozJlz/kS1IpjKqw3wQBVyy++JI0y1GTe7DCBbMAckeNIQKk/BanALBB+16LtnDELoMcsM/BESDlz2heDR3WePwKSLo5eoxz3z6NNcFD+vu3ij14Aqz/DxGbKB7CAAAAAElFTkSuQmCC');
  background-repeat: no-repeat;
  background-position: 100% center;

}

#term {
  grid-area: term;
}

#term-select {
  grid-area: term-select;
}

#department {
  grid-area: department;
}

#department-search {
  grid-area: department-search;
}

#level {
  grid-area: level;
}

#level-select {
  grid-area: level-select;
}

#course-number {
  grid-area: course-number;
}

#course-search {
  grid-area: course-search;
}
